name: Build Xamarin.Android app

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '2.0.x'  # Change this to your desired .NET version

    - name: Install Xamarin.Android
      run: |
        sudo $AGENT_HOMEDIRECTORY/scripts/select-xamarin-sdk.sh 11_99_999  # Change this to the desired Xamarin.Android version
        sudo $AGENT_HOMEDIRECTORY/scripts/select-xamarin.sh 11_99_999  # Change this to the desired Xamarin.Android version

    - name: Install dependencies
      run: nuget restore App2/App2.sln

    - name: Build
      run: msbuild App2/App2/App2.Android/App2.Android.csproj /t:PackageForAndroid /p:Configuration=Debug
